/* //////////////////////////////////// */
/* /////////////// TOUT /////////////// */
/* //////////////////////////////////// */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #f6f6f6;
}

/* //////////////////////////////////// */
/* //////////// @FONT-FACE //////////// */
/* //////////////////////////////////// */

@font-face {
    font-family: 'AkzidenzGrotesk-Medium';
    src: url("../font/AkzidenzGrotesk-Medium.otf");
}

@font-face {
    font-family: 'Messapia-Regular';
    src: url("../font/Messapia-Regular.otf");
}

@font-face {
    font-family: 'Messapia-Bold';
    src: url("../font/Messapia-Bold.otf");
}

@font-face {
    font-family: 'Pilowlava-Regular';
    src: url("../font/Pilowlava-Regular.otf");
}

@font-face {
    font-family: 'AkzidenzGrotesk-BoldCond';
    src: url("../font/AkzidenzGrotesk-BoldCond.otf");
}

@font-face {
    font-family: 'AkzidenzGrotesk-Cond';
    src: url("../font/AkzidenzGrotesk-Cond.otf");
}

/* //////////////////////////////////// */
/* /////////////// FONT /////////////// */
/* //////////////////////////////////// */

h1 {
    font-family: 'Pilowlava-Regular';
    font-size: 4.2em;
    writing-mode: vertical-rl;
    position: fixed;
    margin-top: 10px;
    margin-left: 5px;
}

h1:hover {
    cursor: pointer;
}

#menu li {
    font-family: 'AkzidenzGrotesk-Cond';
    writing-mode: vertical-rl;
    font-size: 2.8em;

}

ul#menu li#apropos_contenu,
ul#menu li#droitsauteurs_contenu,
ul#menu li#contacts_contenu,
ul#menu li#mentionslegales_contenu {
    font-size: 1.5em;
    display: none;
}

.pilowlava {
    font-family: 'Pilowlava-Regular';
}

/* //////////////////////////////////// */
/* ////////////// COLORS ////////////// */
/* //////////////////////////////////// */

.orange {
    color: #dd480e;
}

.vert {
    color: #447f44;
}

.rose {
    color: #d3989c;
}

.bleu {
    color: #2f628c;
}

.jaune {
    color: #edac0a;
}

/* //////////////////////////////////// */
/* /////////////// MENU /////////////// */
/* //////////////////////////////////// */

ul {
    list-style-type: none;
}

li {
    float: left;
    margin: 5px;
    margin-left: 5px;
}

#croix {
    position: absolute;
    position: fixed;
    right: 0;
    top: 0;
    width: 30px;
    float: right;
    margin: 10px;
    margin-right: 15px;
    z-index: 1000;
}

#croix:hover svg {
    transform: rotate(360deg);
    transition: transform .8s ease-in-out;
    cursor: pointer;
}


#menu {
    z-index: 900;
    position: absolute;
    position: fixed;
    right: -100%;
    top: 0;
    width: 60.5%;
    background-color: #f6f6f6;
    transition: all .8s;
    padding: 30px;
}


/* TEST */
ul#menu li#apropos:hover,
ul#menu li#apropos2:hover,
ul#menu li#droitsauteurs:hover,
ul#menu li#droitsauteurs2:hover,
ul#menu li#contacts:hover,
ul#menu li#contacts2:hover,
ul#menu li#mentionslegales:hover,
ul#menu li#mentionslegales2:hover {
    cursor: pointer;
}

ul#menu li#apropos2,
ul#menu li#droitsauteurs2,
ul#menu li#contacts2,
ul#menu li#mentionslegales2 {
    display: none;
}

ul#menu li#apropos_contenu,
ul#menu li#droitsauteurs_contenu,
ul#menu li#contacts_contenu,
ul#menu li#mentionslegales_contenu {
    width: 20%;
    writing-mode: horizontal-tb;
}

#ligneblanche {
    width: 100%;
    height: 3px;
}

/* BOUTONS JOUR NUIT */

#bouton_nuit,
#bouton_jour {
    margin-right: 17px;
    position: absolute;
    position: fixed;
    top: 3em;
    right: 0;
    width: 25px;
    z-index: 800;
}

#bouton_nuit:hover,
#bouton_jour:hover {
    cursor: pointer;
}


#bouton_nuit {
    fill: #2f628c;

}

#bouton_jour {
    display: none;
    fill: #d3989c;
}

/* //////////////////////////////////// */
/* ////////////// CONTENU ///////////// */
/* //////////////////////////////////// */

#pdf {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 15px;
    width: 76%;
    height: 87%;
}

#informations,
#avertissement {
    font-family: 'AkzidenzGrotesk-Cond';
    font-size: 1.5em;
}

#informations,
#avertissement {
    position: absolute;
    right: 15px;
    margin: 15px;
    width: 20%;
}

#informations {
    bottom: 70%;
}

#auteur {
    padding-bottom: 15px;
}

#avertissement {
    bottom: 15px;
}
