/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
/* wwwwwwwwwwwwwwww TOUT wwwwwwwwwwwwww */

* {
    box-sizing: border-box
}

body {
    margin: 0;
}

/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
/* wwwwwwwwwwwww @font-face wwwwwwwwwww */

@font-face {
    font-family: 'AkzidenzGrotesk-Medium';
    src: url("../font/AkzidenzGrotesk-Medium.otf");
}

@font-face {
    font-family: 'Messapia-Regular';
    src: url("../font/Messapia-Regular.otf");
}

@font-face {
    font-family: 'Messapia-Bold';
    src: url("../font/Messapia-Bold.otf");
}

@font-face {
    font-family: 'Pilowlava-Regular';
    src: url("../font/Pilowlava-Regular.otf");
}

/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
/* wwwwwwwwwwwwwwwww MENU wwwwwwwwwwwww */

/* Memo! */

h1 {
    font-family: 'Pilowlava-Regular', sans-serif;
    float: left;
    width: 50%;
    margin: 0;
    font-size: 2.5em;
    z-index: 1000;
}

/* + */

h2 {
    font-family: 'AkzidenzGrotesk-Medium';
    font-size: 3em;
    display: inline;
    float: right;
    top: 0;
    margin: 0;
}

h2:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: 0.7s;
    cursor: pointer;
}

/* Sticky Menu */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar {
    z-index: 1000;
    background-color: white;
    width: 100%;
    top: 0;
    padding: 0.6em;
    padding-top: 0.3em;
    padding-right: 1em;
    height: 4em;
}


/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
/* wwwwwwwwwwwwwww SIDNAV wwwwwwwwwwwww */

/* Menu déroulant : */

.navbtn {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
    padding: 0.6em;
    padding-top: 0.3em;
}

.navbtn a {
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
}

.navbtn .closebtn h2.croix {
    position: absolute;
    float: right;
    right: 0.35em;
    overflow-y: hidden;
}

/* x */

h2.croix {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

h2.croix:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: 0.7s;
    cursor: pointer;
}

/* Liste dans le sidnav */

.sidnavmenu {
    margin-top: 13em;
    margin-left: 40em;
}

.listesidnav {
    font-family: 'Messapia-Regular';
    line-height: 1.7em;
    font-size: 3.5em;
}

.apparitionhover1,
.apparitionhover2,
.apparitionhover3,
.apparitionhover4,
.apparitionhover5 {
    font-family: 'Messapia-Bold';
    font-size: 1.2em;
    line-height: 1.6em;
    display: none;
    position: absolute;
    left: 5em;
    width: 30%;
}

.blocliste1,
.blocliste2,
.blocliste3,
.blocliste4,
.blocliste5 {
    height: 3em;
}

.blocliste1:hover .apparitionhover1,
.blocliste2:hover .apparitionhover2,
.blocliste3:hover .apparitionhover3,
.blocliste4:hover .apparitionhover4,
.blocliste5:hover .apparitionhover5 {
    display: block;
}

.blocliste1:hover .listesidnav,
.blocliste2:hover .listesidnav,
.blocliste3:hover .listesidnav,
.blocliste4:hover .listesidnav,
.blocliste5:hover .listesidnav {
    font-family: 'Messapia-Bold', sans-serif;
}

.apparitionhover1 {
    top: 12.5em;
}

.apparitionhover2 {
    top: 18em;
}

.apparitionhover3 {
    top: 23.5em;
}

.apparitionhover4 {
    top: 29em;
}

.apparitionhover5 {
    top: 34.5em;
}


/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
/* wwwwwwwwwwwww CONTENU wwwwwwwwwwwwww */

.pdf {
    position: absolute;
    width: 72%;
    height: 76.5%;
    left: 6%;
    bottom: 6%;
}

iframe {
    height: 100%;
    width: 100%;
}

.container p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(224, 224, 224);
}

.info {
    position: absolute;
    top: 17%;
    left: 79%;
    margin-right: 2%;
}

.titre {
    font-family: 'Messapia-Bold';
    font-size: 1.4em;
    line-height: 1.3em;
}

.contact {
    font-family: 'Messapia-Bold';
    font-size: 0.9em;
    margin-top: 6%;
    line-height: 1.5em;
}
