* {
    box-sizing: border-box
}

/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

@font-face {
    font-family: 'AkzidenzGrotesk-Medium';
    src: url("../font/AkzidenzGrotesk-Medium.otf");
}

@font-face {
    font-family: 'Messapia-Regular';
    src: url("../font/Messapia-Regular.otf");
}

@font-face {
    font-family: 'Pilowlava-Regular';
    src: url("../font/Pilowlava-Regular.otf");
}

/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

body {
    margin: 0;
}


/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
/* intro : */

#intro {
    margin: 15%;
    margin-top: 8%;
}

#intro p {
    font-size: 3.7em;
    font-family: 'Messapia-Regular';
    color: black;
    margin: 0;
}

.Pilowlava {
    font-family: 'Pilowlava-Regular', sans-serif;
}

.AkzidenzGrotesk {
    font-family: 'AkzidenzGrotesk-Medium';
    font-size: 1.1em;
}

.couleur {
    color: ;
}

a.js-scrollTo p {
    text-align: center;
    padding-top: 1.5em;
}

a.js-scrollTo {
    text-decoration: none;
}

/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
/* Header : */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
}

#navbar {
    z-index: 1000;
    background-color: white;
    width: 100%;
    top: 0;
    padding: 0.6em;
    padding-top: 0.3em;
    height: 4em;
}

h1 {
    font-family: 'Pilowlava-Regular', sans-serif;
    float: left;
    width: 50%;
    margin: 0;
    font-size: 2.5em;

}

h2 {
    font-family: 'AkzidenzGrotesk-Medium';
    font-size: 3em;
    display: inline;
    float: right;
    top: 0;
    margin: 0;
}

/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
/* Liste non-ordonnée : */

.container {
    column-count: 5;
    margin: 0.7em;
    margin-top: 0em;
    padding-top: 5em;
    column-gap: 0.7em;
}

.paysage,
.portrait {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0.7em;
}

.paysage {
    height: 13.65em;
}

.portrait {
    height: 28em;
}

img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.position p {
    position: absolute;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
    ;
    color: white;
}

p.haut {
    top: 0.1em;
}

p.bas {
    bottom: 0.1em;
}

/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
/* */




/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

/*.position {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}*/
